.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
__MACOSX


*

!.gitignore
!README.md
!REPL-Geography-of-Partisan-Hom-US.Rproj
!0a_create_folders.R
!0b_get_data.R
!0c_prep_voting_data.R
!0d_prep_lkup_data.R
!1_prep_int_data.R
!2_get_valid_df_wtmx.R
!3_get_main_sf_and_lisa.R
!4_get_maps.R
!5_get_charts_tables.R
!geocorr2022_2329704436.csv
!rawdata/voting
!output/tables/*
!output/plots/*

!*/

